@font-face {
  font-family: "apercu";
  src: url("apercu/Apercu\ Bold.otf");
}

* {
  margin: 0;
  padding: 0;
 
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h2 {
  width: 100%;
  font-size: 50px;
  line-height: 38px;
  letter-spacing: -0.6px;
  color: rgb(44, 38, 38);
  width: min-content;
  font-family: apercu, sans-serif;
  text-align: center;
}

header {

  border-radius: 15px 0 0 15px;
  background-color: #ffffff;
  width: 95vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.main {
  background-color: rgb(255, 255, 255);
  grid-column: 1/3;
  grid-row: 2/5;
  
  width: 96.5vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
  gap: 15px;
  justify-items: center;
}

.item {
  width: 220px;
  height: 270px;
  background-color: chocolate;
  border-radius: 20px;
color: white;
font-size: 15px bold;
font-weight: 200;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.clear-btn1{
  width: 90px;
  height: 30px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 15px;
  
}



.clear-btn{
  width: 90px;
  height: 30px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
  margin-top :20px;
}
.clear-btn,.clear-btn1:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.plusBtn {
  position: fixed;
  right: 0%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  background-color: chocolate;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.fa-solid {
  font-size: 60px;
}

.input-container {
  display: none;
}

.overlay-input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 350px;
  background-color: chocolate;
  border-radius: 20px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3{

  padding-bottom:20px ;
  font-size: 24px;

}

h4 {
  color: #ffffff;
}

span {
  font-size: 13px;
  color: #ffffff;
}

input {
  margin: 10px;
  margin-right: 5px;
  border-radius: 5px;
  width: 190px;
  height: 25px;
  border: none;
  padding-left: 10px;
}

label {
  width: 200px;
  padding-left: 20px;
}

.button {
  background-color: #ffffff;
  font-weight: bold;
  width: 120px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 6px;
  border: gray solid 2px;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 60px;
  padding: 5px;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
